/* Top bar */
.top-bar {
background-color: #282e33;
color: #ffffff;
height: 35px;	
}

/* Left Sidebar */
.leftbar-main {
width: 100%;
max-width: 250px;	
background-color: #282e33;
height: 100vh;	
left: 0;
margin-left: 0;	
}
.leftbar-row {
height: 45px;
color: #ffffff;
font-size: 1.1rem;
font-weight: bold;	
}
.leftbar-row:hover {
background-color: #e2edea;	
color: #333;	
}
.leftbar-col {
margin-top: 0.6rem;	
}
.leftbar-left-col {
max-width: 2rem;	
}
