$admin-bars-bg: #282e33;
$admin-bars-color: #ffffff;
$admin-bars-hover: #212020;

/* Installation */
.install-page {
    background-color: #cceeff;
    min-height: 100vh;	
    }
    .install-logo {	
    padding-bottom: 20px;
    margin: auto;
    margin-top: 1%;	
    max-width: 500px;	
    }
    .install-logo-img {
    max-width: 200px;	
    }
    .install-form-main {
    max-width: 500px;
    margin: auto;
    margin-top: 2%;	
    background-color: #ffffff;	
    padding: 1rem;
    border-radius: 3px;	
    border: 1px solid #ccc;	
    }
    .install-title {
    margin-bottom: 1rem;	
    }
    .install-label {
    font-weight: bold;	
    }
    .install-db-text {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;	
    }
    .install-db-success {
    display: none;
    }
    .install-db-error {
    border: 1px solid red;	
    display: block;	
    margin-top: 1rem;	
    }
    .install-finish-title {
    margin-bottom: 2rem;	
    }
    /* Top bar */
    .admin-top-bar {
    background-color: $admin-bars-bg;
    color: $admin-bars-color;
    height: 35px;
    padding-top: 0.5rem;
    position: fixed;
    z-index: 9999;	
    }
    .top-bar-icons {
    font-size: 1.5rem;	
    }
    /* Left Sidebar */
    .admin-leftbar-main {
    width: 100%;
    max-width: 12vw;	
    background-color: $admin-bars-bg;		
    padding-top:3rem;	
    position: fixed;
    z-index: 9990;
    min-height: 100vh;
    }
    .admin-leftbar-row {
    height: 45px;
    color: $admin-bars-color;
    font-size: 1.1rem;
    font-weight: bold;	

    &:hover {
    background-color: $admin-bars-hover; 	
    cursor: default;   
    }
    }
    .admin-leftbar-active {
    height: 45px;
    color: #333;
    background-color: #e2edea;	
    font-size: 1.1rem;
    font-weight: bold;	
    }
    .admin-leftbar-col {
    margin-top: 0.6rem;	
    }
    .admin-leftbar-left-col {
    max-width: 2rem;	
    }
    .admin-left-bar-logo {
    max-width: 150px;
    margin-top: 15px;	
    }
    /* Components General */
    .core-main {
    background-color: #f7f7f7;
    min-height: 100vh;
    padding-top: 2rem;
    margin-left: 12vw;	
    max-width:  calc(100% - 12vw);
    }
    /* Products */
    .add-product-button {
    margin-top: 20px !important;
    float: right;	
    }
    .products-table {
    height: 400px; 
    width: 100%;
    margin-top: 100px;	
    }
    .new-product-main {
    max-width: 800px;    
    }
    .add-product-label {
    margin-bottom: 1rem;    
    }
    .ql-toolbar {
    background-color: #ffffff;    
    }
    .ql-editor {
    background-color: #ffffff;
    min-height: 15rem;  
    }
    #add-product-image {
    display: none;    
    }
    .add-product-img-icon {
    max-width: 90px; 
    text-align: center; 
    background-color: transparent; 
    border: none;
    }
    .list-product-img-div { 
    max-width: 110px; 
    margin-right: 10px;
    background-color: transparent; 
    border: none;
    }
    .list-product-img { 
    max-height: 70px; 
    max-width: 110px;
    }
    